version: '3.9'

services:
  api:
    build: .
    env_file: .env
    ports:
      - '3000:3000'
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: vytrack
      POSTGRES_PASSWORD: vytrack
      POSTGRES_DB: vytrack
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
